{% extends 'cars/layout.html' %}

{% block body %}
    <h2>List of cars</h2>
    <table>
        <tr>
            <th>Information</th>
            <th>Image</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td style="padding: 10px">
                    <p><b>VIN: </b>{{ car.vin }}</p>
                    <p><b>Date of creation: </b>{{ car.creation_date }}</p>
                    <p><b>Date of disposal: </b>{{ car.disposal_date }}</p>
                </td>
                <td><a href="{{ car.passport.url }}"><img width="200px" src="{{ car.passport.url }}"></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}